version: '3.8'

services:
  postgres-db:
    image: postgres:16-alpine
    container_name: sale_management


    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: sale_management_db

    ports:
      - "5432:5432"


    volumes:
      - postgres-data:/var/lib/postgresql/data

    restart: always

volumes:
  postgres-data:
    driver: local